*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../html/tech.png);
    background-size: cover;
    background-attachment: fixed;
}
.row{
    background: none;
    width:100%;
    border-radius: 10px;
    max-width: 750px;
    margin: 200px auto;
}

.btn1{
    border: none;
    outline: none;
    height: 100px;
    width: 15% ;
    background-color: salmon;
    color: white;
    border-radius: 8px;
    font-weight:bold ;
    transition-duration: 0.4s;
}
.btn1:hover{
    background: white;
    border: 2px solid;
    color: salmon;
    cursor: pointer;
}
.btn2{
    border: none;
    outline: none;
    height: 100px;
    width: 15% ;
    background-color: salmon;
    color: white;
    border-radius: 8px;
    font-weight:bold ;
    transition-duration: 0.4s;
}
.btn2:hover{
    background: white;
    border: 2px solid;
    color: salmon;
    cursor: pointer;
}
.btn3{
    border: none;
    outline: none;
    height: 100px;
    width: 15% ;
    background-color: salmon;
    color: white;
    border-radius: 8px;
    font-weight:bold ;
    transition-duration: 0.4s;
}
.btn3:hover{
    background: white;
    border: 2px solid;
    color: salmon;
    cursor: pointer;
}
.btn4{
    border: none;
    outline: none;
    height: 100px;
    width: 15% ;
    background-color: salmon;
    color: white;
    border-radius: 8px;
    font-weight:bold ;
    transition-duration: 0.4s;
}
.btn4:hover{
    background: white;
    border: 2px solid;
    color: salmon;
    cursor: pointer;
}
.btn5{
    border: none;
    outline: none;
    height: 100px;
    width: 15% ;
    background-color: salmon;
    color: white;
    border-radius: 8px;
    font-weight:bold ;
    transition-duration: 0.4s;
}
.btn5:hover{
    background: white;
    border: 2px solid;
    color: salmon;
    cursor: pointer;
}
.btn6{
    border: none;
    outline: none;
    height: 100px;
    width: 15% ;
    background-color: salmon;
    color: white;
    border-radius: 8px;
    font-weight:bold ;
    transition-duration: 0.4s;
}
.btn6:hover{
    background: white;
    border: 2px solid;
    color: salmon;
    cursor: pointer;
}
.btn7{
    border: none;
    outline: none;
    height: 100px;
    width: 15% ;
    background-color: salmon;
    color: white;
    border-radius: 8px;
    font-weight:bold ;
    transition-duration: 0.4s;
}
.btn7:hover{
    background: white;
    border: 2px solid;
    color: salmon;
    cursor: pointer;
}
.btn8{
    border: none;
    outline: none;
    height: 100px;
    width: 15% ;
    background-color: salmon;
    color: white;
    border-radius: 8px;
    font-weight:bold ;
    transition-duration: 0.4s;
}
.btn8:hover{
    background: white;
    border: 2px solid;
    color: salmon;
    cursor: pointer;
}