*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #23242b;
    color: #fff;
}
.u-name{
    font-size: 20px;
    padding-left: 17px;
}
.u-name b{
    color: #127b8e;
}
.header i{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.header i:hover{
    color:#127b8e ;
}
.user-p{
    text-align: center;
    color: #ccc;
    padding: 5px 0;
}

.side-bar{
    width: 250px;
    background: #262931;
    min-height: 100vh;
    transition:500ms width ;
}

.body{
    display: flex;
}

.section-1{
    width: 100%;
    background: url("dashbg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.side-bar ul{
    margin-top: 20px;
    list-style: none;
}
.side-bar ul li{
    font-size: 16px;
    padding: 15px 0px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.side-bar ul li:hover{
    background: #127b8e;
}
.side-bar ul li a{
    position: relative;
    text-decoration: none;
    color: #eee;
    cursor:pointer;
    letter-spacing: 1px;
}

.side-bar ul li a {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;
}



#navbtn{
    display: inline-block;
    margin-left: 70px;
    font-size: 20px;
}
#checkbox{
    display: none;
}
#checkbox:checked ~ .body .side-bar{
    width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
    visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
    display: none;
}
.logo{
    width: 100px;
    height: 20%;
}
.side-bar ul li a .arrow{
    position: absolute;
    top: 50%;
    right: -20px;
    transform:translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
.side-bar ul li a:hover .arrow{
    transform: translateY(-50%) rotate(-180deg);
}

ul.product-show{
    position: static;
    display: none;
}
 ul.product-show.show{
    display: block;

}
.btn{
    justify-content: center;
}

.side-bar ul li a .arrow1{
    position: absolute;
    top: 50%;
    right: -20px;
    transform:translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
.side-bar ul li a:hover .arrow1{
    transform: translateY(-50%) rotate(-180deg);
}

ul.product-show1{
    position: static;
    display: none;
}
 ul.product-show1.show1{
    display: block;

}







