*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:url("images/regisback.jpg") ;
    background-size: cover;

}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius:5px ;

}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
   
    background:linear-gradient(135deg,#71b7e6 ,#9b59b6) ;
}
.container form .user-defined{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0 12px 0;
}
form .user-defined .input-box{
    margin-bottom:15px ;
    width: calc(100% / 2 - 20px);
}
.user-defined .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.input-box input{
   height: 45px;
   width:100%;
   outline: none;
   border-radius: 5px;
   border:1px solid #ccc;
   padding-left: 15px;
   font-size:16px ;
   border-bottom-width: 2px;
   transition:all 0.3s ease ;
}

.gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
.gender-details .category{
    display: flex;
    width:80%;
    margin: 14px 0;
    justify-content: space-between;
}
label{
display: flex;
align-items: center;
}
.dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    border:5px solid transparent
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color:#d9d9d9 ;
    background:#9b59b6 ;
}
form input[type="radio"]{
   display: none;
}
form .button{
    height:45px;
    margin: 45px 0;
}
.button input{
height: 100%;
width: 100%;
outline: none;
color: #fff;
border: none;
font-size: 18px;
font-weight: 500;
letter-spacing: 1px;
background:linear-gradient(135deg,#71b7e6 ,#9b59b6) ;

}
.button input:hover{
    background:linear-gradient(135deg,#71b7e6 ,#9b59b6) ;
}
@media(max-width: 584px){
    .container{
        max-width:100% ;
    }form .user-defined .input-box{
        margin-bottom:15px ;
        width:100% ;
    }
    .gender-details .category{
        
        width:100%;
    }
    .container form .user-defined{
        max-height: 300px;
        overflow-y: scroll;

    }
    .user-defined::-webkit-scrollbar{
        width: 0;
    }
}
#nameerror{
    color: red;

}
.loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
}
.loader div {
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color:red;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;

}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
