<!DOCTYPE html>
{% extends 'customer/Dashboard.html'%}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'aboutus.css' %}">
    <title>About Us</title>
</head>
<body>
    <div class=body>
    <div class="aboutus">
        <div class="container">
            <h1>About Us</h1>
            <p class="text">Technonova is an e-commerce website that supplies all sort of computer components which is easy to use, reliable and time saving. It is all about modernizing a computer hardware store with the help of technology and e commerce. All the information about the products and data of the customers are kept which includes features like the ability to search for any product the user wants, to build a pc inside the website, billing facilities.
            </p>
            <div class="team">
                <span>Technonova</span>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>
{% endblock %}