<!DOCTYPE html>
<html>
    <head>
        
        
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'dashboard_style.css' %} ">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        
       
        <input type="checkbox" id="checkbox">
        <header class="header">
            <h2> <a href="/homepage"><img class="logo" src="{% static 'images/tec.png' %}"></a>
                <label for="checkbox">
                    <i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
                </label>
            </h2>
           <a href="/profile/myprofile"> <i class="fa fa-user"></i></a>
        </header>
        <div class="body">
            <nav class="side-bar">
                <div class="user-p">
                    <h4>{{user.username}}</h4>
            
                </div>
                <ul>
                    <li>
                        <a href="/dashboard">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        
                        <a href="/allproducts" class="product-btn">
                            <i class="fa fa-product-hunt" aria-hidden="true"></i>
                            <span>All Products</span>
                            
                        </a>
                    </li>
                        <li>
                            <a href="/whats_new"><i class="fa fa-plus" aria-hidden="true"></i> 
                            <span>What's New</span>
                            </a>
                        </li>
                        
                        
                    
                    <li>
                        <a href="/brands"><i class="fa fa-bandcamp" aria-hidden="true"></i> 
                            <span>Brands</span></a></li>
                    
                    
                
                    <li>
                        <a href="/build">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            <span>Build Your Pc</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/aboutus">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <span>About Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="/feedback/feedback_send">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>Contact Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cart/mycart">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span>Inventory</span>
                        </a>
                    </li>
                    <li>
                        <a href="/exchange/exchange_request ">
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                            <span>Request an Exchange </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-power-off" aria-hidden="true"></i>
                           <form action='logout' method="post">
                                {% csrf_token %}
                                <span><button class="btn" type="submit" value="Logout" style=color:white;>LOGOUT</button></span>
                            </form></a>
                    </li>
                </ul>
            </nav>
            <div class="thebody" style="display:flex; width:100%;">
                {% block content %}
                {% endblock %}
            </div>
    </div>
    
        <script>
            $('.product-btn').click(function(){
                $('.product-show').toggleClass("show");
            });
        </script>
       
    </body>
</html>