<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset = "UTF-8">
{% load static%}    
<title>Registration</title>
<link rel = "stylesheet" href=" {% static 'style.css' %}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<script defer src="{% static 'script.js' %}"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    
</head>
<div class="loader">
    <div></div>
</div>
    <div class="container">
        <div class= "title">Registration</div>
        <form id = "form" action="registration"  method="post">
            <div class="user-defined">
                <div class="input-box" >
                    {% csrf_token %}
                    <span class="details"> Full Name</span>
                    <input id="name"  type="text" placeholder="Enter your Full Name" name="fullname"  >
                    
                </div>
                <div class="input-box" id ="phonenumber">
                    <span class="details"> Phone Number</span>
                    <input id ="number1" type="text" placeholder="Enter your Number" name="phonenumber" >
                    <div id ="numbererror"></div>
                </div>
                <div class="input-box">
                    <span class="details"> Email</span>
                    <input id ="email" type="text" placeholder="Enter your  Email" name="email" >
                    <div id ="Emailerror"></div>
                </div>
                <div class="input-box">
                    <span class="details"> Username</span>
                    <input id="username" type="text" placeholder="Enter your UserName" name="username" >
                    <div id ="usernameerror"></div>
                </div>
                <div class="input-box">
                    <span class="details"> Password</span>
                    <input id="password" type="password" placeholder="Enter your Password" name="password" >
                    <div id ="passworderror"></div>
                </div>
                <div class="input-box">
                    <span class="details"> Confirm Password</span>
                    <input  id = "confirmpassword"type="Password" placeholder="Retype your password" >
                    <div id ="confirmpassworderror"></div>
                </div>
               

            </div>
            <div class="gender-details">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender-title">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>    
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                         <span class="gender">prefer not to say</span>   
                    </label>
                </div>
            </div>
            <div id ="nameerror"></div>
            <div class="button">
               <input type="submit" value="Submit" >

            </div>
            
        </form>
        {{forms.errors}}
    </div>
   
</body>


</html>